run = "clj -X:dev"

[env]
CLJ_CONFIG = "/home/runner/.clojure"

[languages.clojure]
pattern = "**/*.clj*"

[nix]
channel = "stable-22_05"

# [languages.clojure.languageServer]
# start = ["clojure-lsp"]
